version: "3"

services:
  phppgadmin:
    restart:        always
    image:          dockage/phppgadmin:latest
    container_name: phppgadmin-${POSTGRESQL_NAME}
    environment:
      - PHP_PG_ADMIN_SERVER_DESC=${POSTGRESQL_NAME}
      - PHP_PG_ADMIN_SERVER_HOST=${POSTGRESQL_DOMAIN}
      - PHP_PG_ADMIN_SERVER_PORT=${POSTGRESQL_PORT}
      - PHP_PG_ADMIN_SERVER_SSL_MODE=allow
      - PHP_PG_ADMIN_SERVER_DEFAULT_DB=template1
      - PHP_PG_ADMIN_SERVER_PG_DUMP_PATH=/usr/bin/pg_dump
      - PHP_PG_ADMIN_SERVER_PG_DUMPALL_PATH=/usr/bin/pg_dumpall
      - PHP_PG_ADMIN_DEFAULT_LANG=auto
      - PHP_PG_ADMIN_AUTO_COMPLETE=default on
      - PHP_PG_ADMIN_EXTRA_LOGIN_SECURITY=false
      - PHP_PG_ADMIN_OWNED_ONLY=false
      - PHP_PG_ADMIN_SHOW_COMMENTS=true
      - PHP_PG_ADMIN_SHOW_ADVANCED=false
      - PHP_PG_ADMIN_SHOW_SYSTEM=false
      - PHP_PG_ADMIN_MIN_PASSWORD_LENGTH=1
      - PHP_PG_ADMIN_LEFT_WIDTH=200
      - PHP_PG_ADMIN_THEME=default
      - PHP_PG_ADMIN_SHOW_OIDS=false
      - PHP_PG_ADMIN_MAX_ROWS=30
      - PHP_PG_ADMIN_MAX_CHARS=50
      - PHP_PG_ADMIN_USE_XHTML_STRICT=false
      - PHP_PG_ADMIN_HELP_BASE=http://www.postgresql.org/docs/%s/interactive/
      - PHP_PG_ADMIN_AJAX_REFRESH=3
    networks:
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.phppgadmin-${POSTGRESQL_NAME}.rule=Host(`${PHPPGADMIN_DOMAIN}`)"
      - "traefik.http.routers.phppgadmin-${POSTGRESQL_NAME}.entryPoints=web"
      - "traefik.http.routers.phppgadmin-${POSTGRESQL_NAME}.middlewares=redirect-to-https@file"
      - "traefik.http.routers.phppgadmin-${POSTGRESQL_NAME}-https.rule=Host(`${PHPPGADMIN_DOMAIN}`)"
      - "traefik.http.routers.phppgadmin-${POSTGRESQL_NAME}-https.entryPoints=websecure"
      - "traefik.http.routers.phppgadmin-${POSTGRESQL_NAME}-https.tls=true"
      - "traefik.http.routers.phppgadmin-${POSTGRESQL_NAME}-https.tls.certresolver=${CERT_RESOLVER}"

networks:
  traefik:
    external:
      name: traefik